@include keyframes(popup){
	from{
		width:0;
		height:0;
		opacity: 0;
		display: none;
	}
	to{
		width:85%;
		height: auto;
		opacity: 1;
		display: block;
	}
}
.openPopUp{
	@include animation-name(popup);
	@include animation-duration(2s);
	@include animation-timing-function(ease);
	@include animation-iteration-count(forwards);
}