.campanas{
	@extend .dashboard-agencia;
	nav{
		ul{
			li{
				a{color:$color_grey;}
				border:{bottom:1px solid $color_grey;}
				&:nth-child(2){
					a{
						color:$color_font2;
					}
					border:{bottom:2px $color_font2 inset;}
					margin:{right:0;}
				}
			}
		}
	}
	.campa-ico{
		@include pad(5px 0 !important);
	}
}
.campanas-ipe{
	@extend .dashboard-ipe;
	#imagenform-ipe{
		#tabscontent{
			.tabpage{
				&:last-child{
					@include pad(em(10));
					@include borderRadius(em(10));
					background:{color:#fff;}
				}
			}
		}
	}
}