.crear-campanas{
	@extend .dashboard-agencia;
	@include media($tabletLandTonotebook){
		background:{color: #eeeef0;}
	}
	.sub-titulo{
		@include media($tabletLandTonotebook){
			@include outer-container;
		}
	}
	.crear-campana{
		@extend .hide;
	}
	nav{
		ul{
			li{
				a{color:$color_grey;}
				border:{bottom:1px solid $color_grey;}
				&#nuevaCampain{
					a{
						color:$color_font2;
					}
					border:{bottom:2px $color_font2 inset;}
				}
			}
		}
	}
}
#campanaForm-nueva-campana{
	@include span-columns(12);
	@include pad();
	input{
		@extend .inputs;
		@include span-columns(12);
		@include placeholder{
			font:{size:12px;style:italic;}
			text:{transform:normal}
		}
		&#file2{
			display: none !important;
		}
	}
	textarea{
		@extend .inputs;
		min-height:100px;
		@include span-columns(12);
		@include placeholder{
			font:{size:12px;style:italic;}
			text:{transform:normal}
		}
	}
	.cont-input{
		position:relative;
		overflow: hidden;
		i{
			position: absolute;
		    right: 0;
		    bottom: 10px;
		    color:$color_font2;
		}
	}
	.jfilestyle{
		@extend .btns;
		@include span-columns(12);
		@include omega();
		@include textAligns(center);
		background: {color:#fff;}
		border:1px solid $color_font2;
		color:$color_font2;
		margin:{top:10px;}
		left:0;
		.focus-jfilestyle{
			label{
				width: 100%;
			    display: block;
			    cursor: pointer;
			}
		}
	}
	h2{
		@include pad(10px 0 3px);
	}
	p{
		margin:0;
		font:{size:9px;}
		color:$color_grey;
	}
	.guardar{
		@extend .btns;
		@include span-columns(12);
		color:#fff;
		background: {color:$color_font2;}
		@include textAligns(center);
	}
	.redes-select{
		@include span-columns(12);
		@include row();
		@include fill-parent();
		@include pad(em(20) 0 0);
		.name-red{
			@include span-columns(4 of 12);
			@include omega();
			margin:em(24) 0;
			font:{size:em(12);}
			color:$color_grey;
			text:{transform:capitalize;}
			height: 26px;
			i{
				font:{size:em(28)}
				margin:{right:3px;}
				&.fa-google{
					color:$col-google;
				}
				&.fa-instagram{
					color:$col-instagram;
				}
				&.fa-facebook{
					color:$col-facebook;
				}
				&.fa-twitter{
					color:$col-twitter;
				}
				&.fa-youtube-play{
					color:$col-youtube;
				}
				&.fa-google-plus{
					color:$col-google-plus;
				}
			}
		}
		.check-red{
			@include span-columns(2 of 12);
			margin:em(20) em(6);
			@extend .switcher-norm;
		}
	}
	//MEDIA QUERIES
	@include media($tabletLandTonotebook){
		@include outer-container;
		@include pad(0);
		float:none;
		background:{color: #FFF}
		.inputs-deskt{
			@include span-columns(6 of 12);
			@include omega();
			@include pad();
		}
		.upload-deskt{
			@include span-columns(6 of 12);
			@include omega();
			@include pad();
		}
		.guardar{
			@include span-columns(4 of 12);
			@include shift(7.8);
		}
	}
}
