.dashboard-agencia{
	background: {image:none;}
	//padding:{bottom:40px;}
	.sub-titulo{
		margin:0;
		font:{size:14px;style:italic;}
		text:{transform:uppercase;}
		color:$color_grey;
		@include pad(10px);
		clear:both;
		@include media($notebookTodesktop){
			@include outer-container;
			color: $color_grey2;
			font:{size:18px;weight:normal;}
			max-width:em(970);
		}
		@include media($desktop){
			//@include outer-container;
			color: $color_grey2;
			font:{size:18px;weight:normal;}
		}
	}
}
.dashboard-ipe{
	@extend .dashboard-agencia;
	background:{color: $color_grey;}
	font:{family:$fontAll2;}
	#imagenform-ipe{
        margin:0;
		#tabscontent{
			.tabpage{
				&:first-child{
					@include pad(em(10));
					@include borderRadius(em(10));
					background:{color:#fff;}
					@include media($notebookTodesktop){
						@include border-top-radius(0);
					}
				}
			}
		}
	}
}
.creadas{
	.recientes{
		@include row();
		@include pad(0);
		overflow:hidden;
		position:relative;
		display: block;
        .cont-campana{
            @include span-columns(12);
	    	.bg-campana{
			@include span-columns(12 of 12);
			@include pad(148px 5px 0);
			position: relative;
			overflow: hidden;
			min-height: 182px;
			background:{position: center;size: cover;}
			@include boxShadow(inset, 0, -60px, 54px, -18px $blk-alfa);
			h3{
				@include span-columns(11 of 12);
				color:#fff;
				font:{size:16px;}
				margin:0;
				@include pad(0 0 5px);
				span{
					display: block;
					font:{size:11px;weight:normal;style:italic;}
				}
			}
			p{
				margin:0;
				@include pad(0);
			}
			//MEDIA QUERIES
			@include media($notebookTodesktop){
				padding:{top:256px;}
			}
			@include media($desktop){
				padding:{top:256px;}
			}
		}
	    	.ver-mas{
			@include span-columns(12);
			color:$color_font2;
			@include pad(8px 0 0);
			cursor: pointer;
			margin:{top:-40px;}
			position:relative;
			span{
				width:20px;
				height:20px;
				@include borderRadius(50%);
				border:2px solid $color_font2;
				display: table;
				@include textAligns(center);
				float:right;
				margin:{right:5px;}
				i{
					display: table-cell;
					vertical:{align:middle;}
					font:{weight:bold;}
					font:{size:14px;}
					&.fa-plus{
						display: none;
						font:{size:10px}
						@include media($notebookTodesktop){
							display:table-cell;
						}
						@include media($desktop){
							display:table-cell;
						}
					}
					&.fa-angle-down{
						@include media($notebookTodesktop){
							display: none;
						}
						@include media($desktop){
							display: none;
						}
					}
				}
			}
		}
            .reach-campana{
                display: none;
                @include media($notebookTodesktop){
                    width:100%;
                    margin:60px auto 0 !important;
                    position: relative;
                    z-index: 9;
                    .redes-metrics{
                        margin:0 0 20px 0;
                        padding: 0;
                        @include span-columns(4);
                        background: {color:#fff;}
                        @include border-right-radius(3px);
                        @include omega(4n);
                        .tit-red{
                            @include span-columns(4);
                            @include border-left-radius(3px);
                            @include pad(22px);
                            @include textAligns(center);
                            color:#fff;
                            text:{transform:uppercase;}
                            font:{size:em(11);}
                            height:56px;
                            &.red-twitter{
                                background: {color:$col-twitter;}
                            }
                            &.red-facebook{
                                background: {color:$col-facebook;}
                            }
                            &.red-instagram{
                                background: {color:$col-instagram;}
                            }
                            &.red-youtube{
                                background: {color:$col-youtube;}
                            }
                            &.red-analytics{
                                background: {color:$col-google;}
                            }
                            &.red-googleplus{
                                background: {color:$col-google-plus;}
                            }
                        }
                        .data{   
                            @include span-columns(6);
                            min-height: 56px;
                            ul{
                                background: #fff;
                                margin: 0 {top:5px};
                                padding: 0;
                                list:{style: none;}
                                position: absolute;
                                li{
                                    display: none;
                                    span{
                                        @include span-columns(12);
                                        font:{size:em(11);}
                                        color:$color_grey;
                                        &:last-child{
                                            font:{size:em(22)}
                                            color:$color_font2;
                                        }
                                    }
                                    &:first-child{
                                        display: block;
                                    }
                                }
                            }
                        }
                        .ver-mas-metrics{
                            @include span-columns(2);
                            display: table;
                            min-height:56px;
                            @include textAligns(center);
                            i{
                                display: table-cell !important;
                            }
                        }
                    }
                }
            }
	    	.content{
			    @include span-columns(12 of 12);
			    @include pad(0 15px);
			    .tools-campana{
				@include fill-parent();
				@include row();
				@include pad(0);
				li{
					@include span-columns(3.18 of 12);
					@include pad(0 5px);
					@include omega();
					@include textAligns(center);
					height:29px;
					color:$color_font2;
					font:{size:11px;}
					display: table;
					border:{bottom:1px solid $color_font2;top:1px solid $color_font2;}
					cursor: pointer;
					&:first-child{
						@include border-left-radius(5px);
						border:{left:1px solid $color_font2;right:1px solid $color_font2;}
					}
					&:nth-child(2){
						border:{right:1px solid $color_font2;}
					}
					&:last-child{
						@include border-right-radius(5px);
						border:{right:1px solid $color_font2;left:1px solid $color_font2;}
					}
					&:hover{
						background: {color:$color_font2;}
						color:#fff;
					}
					.tool-txt{
						float: none;
						display: table-cell;
						vertical:{align:middle;}
						text:{transform:uppercase;}
						height: 11px;
					}
					.tool-ico{
						display: table-cell;
						vertical-align:middle;
                        margin:{top:6px;left:11px;right:-13px;}
					}
				}
				@include media($notebookTodesktop){
					@include pad(10px 0 0);
				}
				@include media($desktop){
					@include pad(10px 0 0);
				}
			}
			    .campa-ico{
				@include row();
				@include span-columns(12 of 12);
				@include omega();
				@include pad();
				color:$color_grey;
				font:{size:11px;}
				overflow: hidden;
				position:relative;
				&:first-child{
					@include span-columns(4 of 12);
					text:{transform:uppercase;}
				}
				i{
					margin:{right:3px;}
					&.fecha-edit{
						position:absolute;
						color:$color_font2;
						right:0;
						top:7px;
						@extend .hide;
						font:{size:12px;}
					}
				}
				input{
					border:none;
					outline:none;
					color:$color_font2;
					width:100%;
				}
				&.activada{
					@include pad(5px 0);
				}
				&.fecha-activada{
					@include pad(5px 0);
					span{
						color:$color_font2;
					}
				}
			}
		    	p{
				@include span-columns(12 of 12);
				@include pad();
				color:$color_grey;
				font:{size:12px;style:italic;}
				margin:{top:0}
			}
			    .jfilestyle{
				@include span-columns(12 of 12);
				@extend .btns;
				border:{color:$color_font2;}
				color:$color_font2;
				@include textAligns(center);
				span{
					display:block;
					width:100%;
					height: 100%;
				}
			}
			    .guardar-campana{
				@include span-columns(12 of 12);
				@extend .btns;
				color:#fff;
				background: {color:$color_font2;}
			}
			    .inputs-campana{
				@include span-columns(12);
				overflow: hidden;
				position:relative;
				i{
					position:absolute;
					color:$color_font2;
					right:1px;
					top:2px;
					@extend .hide;
					font:{size:12px;}
				}
				input{
					width:100%;
					border:none;
					@include placeholder{
					    color: #484d58;
					    font:{size:10px;}
					}
					&[disabled]{
						background: {color:#fff;}
					}
				}
				textarea{
					@extend input;
				    color: $color_grey;
				    font:{size:10px;style:italic;}
				    min-height:100px;
				}
				&.descripcion{
					i{
						top:0;
					}
				}
				&.nombre{
					input{
						line:{height:12px;}
						@include placeholder{
							font:{size:15px;weight:bold;}
						}
					}
				}
			}
			    .btn_close{
				visibility:hidden;
			}
			    //MEDIA QUERIES
		    	@include media($notebookTodesktop){
                    width:100%;
                    margin:0 auto !important;
                    position: relative;
                    background:{color: #fff;}
                    z-index: 9;
                    top:50px;
                    overflow: hidden;
                    padding:{bottom:10px;}
                    float:none;
                    .img-compana-deskt{
                        @include span-columns(6 of 12);
                        display: block;
                        img{
                            width:100%;
                            height:auto;
                        }
                    }
                    .campana-data{
                        padding-top:20px;
                        @include span-columns(6);
                    }
                    .btn_close{
                        position:relative;
                        float:right;
                        right:0;
                        visibility: visible;
                    }
                    form{
                        @include span-columns(6);
                    }
                }
		    	@include media($desktop){
                    width:100%;
                    margin:0 auto !important;
                    position: relative;
                    background:{color: #fff;}
                    z-index: 9;
                    top:50px;
                    overflow: hidden;
                    padding:{bottom:10px;}
                    float:none;
                    .img-compana-deskt{
                        @include span-columns(6 of 12);
                        display: block;
                        img{
                            width:100%;
                            height:auto;
                        }
                    }
                    .campana-data{
                        padding-top:20px;
                        @include span-columns(6);
                    }
                    .btn_close{
                        position:relative;
                        float:right;
                        right:0;
                        visibility: visible;
                    }
                    form{
                        @include span-columns(6);
                    }
                }
		    } 
            @include media($notebookTodesktop){
                @include span-columns(12); 
            }
        }
		//MEDIA QUERIES
		@include media($notebookTodesktop){
			@include span-columns(4);
			@include omega(3n);
			margin:{bottom:20px;}
			position:static;
			overflow:visible;
		}
		@include media($desktop){
			@include span-columns(4);
			@include omega(3n);
			margin:{bottom:20px;}
			position:static;
			overflow:visible;
		}
	}
	.volver{
		@extend .btns;
		@include span-columns(10);
		@include shift(1);
		background:{color:$color_font2;}
		@include textAligns(center);
		color:#fff;
	}
	.volver-campana{
		@extend .volver;
	}
	@include media($notebookTodesktop){
		@include outer-container;
	}
	@include media($desktop){
		@include outer-container;
	}
	@include media($mobileTomobileLand){
		@include span-columns(12);
		@include pad(0 0 50px)
	}
}
.no-campana{
	.hrefCamp{
		@include span-columns(10);
		@include shift(1);
		@include pad(20px 20px 20px);
		i{
			@include borderRadius(100%);
            width: 150px;
            height: 150px;
            background:{color: $color_font2;}
            @include pad(39px);
            font:{size: 75px;}
            color: #fff;
            &::before{
                min-width: 100%;
                width: 100%;
            }
		}
		h2{
			font:{size:14px;}
			color:$color_font2;
			text:{transform:uppercase;}
		}
		p{
			font:{size:14px;weight:normal;}
			color:$color_grey;
		}
		.btn_crearcamp{
			@extend .btns;
			@include shift(1);
			background: {color:$color_font2;}
			//MediaQueries
			@include media($tablet){
				@include span-columns(4);
				@include shift(4);
			}
			@include media($tabletLand){
				@include span-columns(3);
				@include shift(4.5);
			}
			@include media($notebook){
				@include span-columns(3);
				@include shift(4.5);
			}
		}
	}
}
#imagenform{
	@include span-columns(8);
	position:absolute;
	z-index:10;
	@include borderRadius(5px);
	background:{color: #FFF}
	opacity:0;
	height:auto;
	right:0;
	top:-150%;
	@include boxShadow(0px, 0px, 10px, 0px, #ccc);
	@include pad(20px);
	@extend .hide;
	.fle-top{
		margin:{top:-25px;right:-10px;}
		float:right;
		width:10px;
		height:10px;
		background:{color: #FFF;}
		@include transform(rotate(45deg));
	}
	.misdatos{
		@include span-columns(12);
		@include omega();
		.imagen{
			@include span-columns(4 of 12);
			@include borderRadius(5px);
			min-height:80px;
			background: {position:center;size:cover;repeat:no-repeat;}
			position:relative;
			overflow: hidden;
			.selectFile{
				width:0;
				height:0;
				background:{color:rgba(255,255,255,.5);}
				color:$color_font2;
				@include textAligns(center);
				display: table;
				font:{size:17px;}
				position:absolute;
				right: 0;
				bottom:0;
				overflow:hidden;
				cursor:pointer;
				i{
					display: table-cell;
					vertical-align: middle;
					opacity: 0;
				}
			}
		}
		.datos{
			@include span-columns(6 of 12);
			@include shift(.5);
			h2{
				@include pad(0);
				margin:0;
				font:{size:18px;}
				color:$color_font2;
				@include media($mobile){
					font:{size:15px;}
				}
			}
			h3{
				font:{size:12px;style:italic;}
				@include pad(0);
				margin:0;
				color:$color_font2;
			}
			.editar{
				@include borderRadius(3px);
				text:{transform:uppercase;}
				@include textAligns(center);
				border:1px solid $color_font2;
				font:{size:10px;}
				color:$color_font2;
				@include span-columns(12);
				height:25px;
    			margin:{top: 8px;}
    			display: table;
    			cursor: pointer;
    			span{
					display: table-cell;
					vertical-align: middle;
    			}
			}
		}
		.alert-uploadready{
			@include span-columns(12 of 12);
			color:$color_font2;
			font:{size:12px;}
			@include textAligns(center);
			padding:{top:10px;}
			i{
				font:{size:14px;}
				margin: {right:5px;}
			}
		}
	}
	#inicio{
		@include span-columns(12);
		#tabs{
			@include fill-parent();
			@include row();
			list:{style:none;}
			@include pad(0);
            margin:{top:10px;}
			li{
				@include pad(0 0 8px);
				@include span-columns(6.135 of 12);
				@include row();
				@include omega();
				border:{bottom:1px solid $color_grey;}
				@include textAligns(center);
				font:{size:12px;}
				color:$color_grey;
				cursor:pointer;
				&.tabActiveHeader{
					color:$color_font2;
					border:{bottom:1px solid $color_font2;}
				}
                &:first-child{
                    @include shift(0);
                }
			}
		}
		.tabpage{
			@include fill-parent();
			@include row();
			div{
				@include span-columns(12);
				@include row();
				overflow: hidden;
				position:relative;
				small{
					color:$color_grey;
					clear:both;
					font:{size:9px;}
					text:{transform:uppercase;}
				}
				input{
					font:{family:$fontAll;}
					@include span-columns(12);
					height:20px;
					margin:{bottom:5px;}
					border:none;
					border:{bottom:1px solid $color_grey}
					font:{size:12px;}
					color:$color_grey;
					outline: none;
					&[disabled]{
						background: {color:#fff;}
					}
				}
				&#tel1{
					@include span-columns(6);
				}
				&#tel2{
					@extend #tel1;
				}
				i{
					@extend .hide;
					position:absolute;
					top:11px;
					right:10px;
					color:$color_font2;
					opacity: 0;
				}
			}
		}
		#guardarFacturacion{
			@extend .btns;
			@include span-columns(12);
			@include shift(0);
			background:{color:$color_font2;}
			@include pad(10px 0);
			font:{size:11px;}
			margin:{top:10px;}
		}
		.cancel-data{
			@include textAligns(center);
			@extend #guardarFacturacion;
			background:{color: #FFF}
			border:{color:$color_font2;}
			color:$color_font2;
			margin: {bottom:-5px;}
		}
		.logout{
			@include span-columns(12);
			@include textAligns(center);
			color:$color_grey;
			text:{transform:uppercase;}
			font:{size:11px;}
			@include pad(10px 0 0);
		}
	}
	@include media($mobileTomobileLand){
		@include span-columns(10);
	}
	@include media($mobileLandTotablet){
		@include span-columns(6);
	}
	@include media($notebookTodesktop){
		@include span-columns(4);
		margin-right:1% !important;
	}
	@include media($desktop){
		@include span-columns(3);
		margin-right:1% !important;
	}
}
#tabs{
    @include span-columns(12);
    @include fill-parent();
    list:{style:none;}
    @include pad(0);
    background:{color: #fff;}
    margin:0 0 em(5);
    li{
        @include span-columns(6.13);
        @include textAligns(center);
        text:{transform:uppercase}
        font:{size:em(12);}
        @include omega();
        a{
            display: block;
            width:100%;
            //height:100%;
            @include pad(10px 0 8px);
            outline:none;
            color:$color_grey;
        }
        &[aria-selected="true"]{
            color:$color_font2;
            border:{bottom:2px solid $color_font2;}
            a{
                color:$color_font2;
            }
        }
        &:first-child{
            border:{right:1px solid $color_grey} 
        }
    }
    @include media($notebookTodesktop){
        margin:{bottom:0;}
        @include pad(em(10) 0 0);
        @include border-top-radius(em(10));
        li{
            @include span-columns(2);
            @include omega();
            @include textAligns(left);
            padding:{left:10px;}
        }
    }
    @include media($tabletLand){
        li{
            &:first-child{
                @include shift(0);
            }
        }
    }
    @include media($notebook){
        li{
            &:first-child{
                @include shift(.7);
            }
        }
    }
    @include media($notebookLand){
         li{
            &:first-child{
                @include shift(1);
            }
        }
    }
    @include media($desktop){
        @include outer-container();
        clear:both;
        float:none;
        li{
            &:first-child{
                @include shift(0);
            }
        }
    }
}
#imagenform-ipe{
	#tabscontent{
		@include pad(em(10) em(5));
		&::before{
			content:"";
			clear:both;
			display: block;
		}
		.tabpage{
			width:100%;
			@include fill-parent();
			@include row();
			div{
				@include span-columns(12);
				@include row();
				overflow: hidden;
				position:relative;
				small{
					color:$color_grey;
					clear:both;
					font:{size:9px;}
					text:{transform:uppercase;}
				}
				input{
					font:{family:$fontAll;weight:bold;}
					@include span-columns(12);
					height:40px;
					margin:{bottom:em(5);}
					border:none;
					border:{bottom:1px solid $color_grey}
					font:{size:em(12);}
					color:$color_font2;
					outline: none;
					&[disabled]{
						background: {color:#fff;}
						color:$color_grey;
					}
				}
				&#descripcion{
					textarea{
						@extend input;
						color:$color_grey;
						min-height:em(50);
						padding:{top:em(5);}
						font:{size:em(10);}
					}
					i{
						top:20px;
					}
                    @include media($notebookTodesktop){
                        textarea{min-height:100px;}
                    }
				}
				i{
					position:absolute;
					top:20px;
					right:10px;
					color:$color_font2;
					z-index: 1;
				}
				&.selects{
					position:relative;
					overflow:hidden;
					select{
						@extend .style-select;
					}
				}
				@include media($notebookTodesktop){
					@include outer-container();
					float:none;
				}
			}
			#guardarFacturacion{
				@include span-columns(6);
				margin:{top:5px;}
				background:{color: $color_font2;}
				@include media($notebookTodesktop){
                    @include direction-context(right-to-left){
                        @include span-columns(3);
                    }
                    margin:{right:0;}
				}
                @include media($notebook){
                    margin:{right:5.97086%;}
                }
                @include media($desktop){
                    margin:{right:0;}
                }
			}
			#redesociales{
				@include span-columns(12);
				@include row();
				.no-rrss{
					@include span-columns(12);
					@include borderRadius(em(10));
					background:{color: #fff;}
					margin:{top:5px;bottom:5px;}
					&::after{
						@include span-columns(9);
						@include pad(em(15) 0 0);
						content:"No registra redes sociales actualmente";
						color:$color_grey;
						font:{size:em(13);}
					}
					.gph-alert{
						@include span-columns(3);
						@include textAligns(center);
						position:relative;
						overflow: hidden;
						display: table;
						min-height: 80px;
						&::before{
							display: table-cell;
							vertical:{align:middle;}
							position:relative;
							z-index: 2;
							color:#fff;
						}
						svg{
							&.poly-gon{
								fill: $color_font2;
								position:absolute;
								@extend .center-absolute;
								@extend .center-div;
								top:5px;
								z-index: 1;
								width:70px;
								height:70px;
							}
						}
					}
					@include media($notebookTodesktop){
						.gph-alert{
							@include span-columns(2);
							@include shift(1);
						}
					}
				}
				.total_reach{
					@include row();
					@include borderRadius(em(10));
					@include pad(em(10));
					background:{color: #fff;}
					width:100%;
					span{
						@include span-columns(8);
						h2{
							margin:0;
							font:{size:em(14);}
							color:$color_grey2;
						}
						small{
							text:{transform:none;}
						}
					}
					.total-number{
						@include span-columns(4);
						@include textAligns(right);
						@include pad(em(6) 0 0);
						color:$color_font2;
						font:{size:em(20);weight:bold;}
					}
                    @include media($notebookTodesktop){
                        display: none;
                    }
				}
				.red-title{
					@include pad(em(10));
					@include row();
					margin:{top:em(5);}
					background:{color: #fff;}
					width:100%;
					outline:none;
					i{
						position: relative;
						top:inherit;
						right:inherit;
						@include span-columns(1);
						font:{size:em(22);}
						&.fa-google{
							color:$col-google;
						}
						&.fa-instagram{
							color:$col-instagram;
						}
						&.fa-facebook{
							color:$col-facebook;
						}
						&.fa-twitter{
							color:$col-twitter;
						}
						&.fa-youtube-play{
							color:$col-youtube;
						}
						&.fa-google-plus{
							color:$col-google-plus;
						}
						&:last-child{
							color:$color_grey2;
							font:{size:em(12);}
							@include pad(em(6) 0 0);
						}
						@include media($notebookTodesktop){
							@include span-columns(.5);
						}
					}
					&[aria-expanded="true"]{
						@include border-top-radius(em(10));
						@include pad(em(10) em(10) 0);
						i{
							&:last-child{
								@extend .pi-arrow-top;
							}
						}
					}
					&[aria-expanded="false"]{
						@include borderRadius(em(10));
					}
					.red-name{
						@include span-columns(10);
						font:{size:em(14)}
						color:$color_grey2;
						@include pad(em(3) 0 0);
				        padding:{top:em(8)}
						@include media($notebookTodesktop){
							@include span-columns(11);
						}
					}
					@include media($notebookTodesktop){
						border:{left:1px solid $color_grey;right:1px solid $color_grey;top:1px solid $color_grey;}
						@include border-bottom-radius(0);
                        @include outer-container();
                        float:none;
						&[aria-expanded="false"]{
							border:{bottom:1px solid $color_grey;}
						}
					}
                    @include media($desktop){
                        @include outer-container(90%);
                    }
				}
				.rs-inscription{
					@include row();
					@include border-bottom-radius(em(10));
					@include pad(em(10) em(10) em(10));
					background:{color: #fff;}
					width:100%;
					.reach-total{
						font:{size:em(14)}
						text:{transform:capitalize;}
						color:$color_grey2;
						@include span-columns(12);
                        max-width: 100%;
						@include textAligns(center);
						@include pad(0 0 em(10));
						border:{bottom:1px solid $color_grey;}
						span{
							color:$color_font2;
							font:{size:em(20);}
						}
					}
					.red-info{
						@include pad(0 0 em(10));
						h3{
							font:{size:em(12);}
							text:{transform:uppercase;}
							color:$color_grey2;
						}
						h4{
							clear:both;
							margin:{top:20px;}
							text:{transform:uppercase;}
							color:$color_grey2;
						}
						ul{
							margin:0;
							@include pad(0);
							list:{style:none;}
							clear:both;
							li{
								@include span-columns(2);
								color:$color_grey;
								font:{size:em(12);weight:normal;}
								height:50px;
								span{
									font:{size:em(22);}
									text:{transform:capitalize;}
									color:$color_font2;
								}
								img{
									@include borderRadius(100%);
									width:50px;
									height:50px;
								}
								&:last-child{
									@include span-columns(4);
									border:{left:1px solid $color_grey;}
									@include pad(0 0 0 em(10));
								}
							}
						}
						.txt-activar{
							height:20px;
							width:55px;
							text:{transform:uppercase;}
							@include textAligns(center);
							float:right;
							font:{size:9px;}
							color:$color_grey2;
							margin:{right:10px;}
						}
						.txt-desactivar{
							@extend .txt-activar;
							color:$color_grey;
						}
						.onoffswitch{
							@extend .switchess;
						}
						&.secc-analytics{
							.tit-analytics{
								@include span-columns(12);
								@include row(table);
								@include fill-parent();
								@include pad(em(10) 0 0 0);
								h3{
									font:{size:em(14);}
									@include span-columns(9 of 12);
									vertical:{align:middle;}
								}
								small{
									@include span-columns(3 of 12);
									vertical:{align:middle;}
									@include reset-display();
									@include textAligns(right);
								}
							}
							.reach-analytics{
								@include span-columns(12);
								@include textAligns(right);
								font:{size:em(23);}
								color:$color_font2;
							}
							li{
								@include span-columns(3);
								margin:{bottom:20px;}
							}
						}
					}
					.twitt-content{
						@include span-columns(12);
						@include pad(5px);
						@include borderRadius(10px);
						margin:{bottom:10px;}
						border:1px solid $color_grey;
						font:{size:em(12);weight:normal;}
						color:$color_grey2;
						a{
							color:$color_font2;
						}
						ul{
							@include span-columns(12 of 12);
							@include pad(10px 0 0);
							margin:0;
							list:{style: none;}
							li{
								@include span-columns(1);
								font:{size:em(12);weight:bold;}
								color:$color_grey;
								i{
									position:relative;
									color:$color_grey;
									top: inherit;
    								right: inherit;
    								margin:{right:em(5);}
								}
								&:last-child{
									@include span-columns(10);
									@include textAligns(right);
								}
							}
						}
					}
					.btns{
						@include span-columns(12);
						@include textAligns(center);
						display:block;
						background:{color:$color_font2;}
						margin:{bottom:0;}
						@include media($notebookTodesktop){
							@include outer-container();
							max-width:em(330);
							float:none;
							clear:both;
							margin:{right:auto !important;}
						}
					}
					@include media($notebookTodesktop){
						border:{left:1px solid $color_grey;right:1px solid $color_grey;bottom:1px solid $color_grey;}
						margin:{right:auto !important;}
                        @include outer-container();
                        float:none;
					}
                    @include media($desktop){
                        @include outer-container(90%);
                    }
				}
				@include media($notebookTodesktop){
					max-width:100%;
					background:{color: #fff}
					float:none;
					padding:{bottom:em(20);}
					@include border-bottom-radius(em(10));
				}
			}
            .input-file{
                @extend .hide;
            }  
            .change-img{
                @extend .btns;
                @include span-columns(6);
                color:$color_font2;
                z-index: 3;
                font:{size: em(12);}
                @include textAligns(center);
				margin:{top:5px;}
                border:1px solid $color_font2;
                @include media($notebookTodesktop){
                    @include direction-context(right-to-left){
                      @include span-columns(3);
                    }
                  //@include shift(4.7);
                }
            }
		}
		@include media($notebookTodesktop){
			@include pad(0);
		}
        @include media($desktop){
            @include outer-container();
        }
	}
	.header-ipe{
		background:{position: center;size:cover;repeat:no-repeat;color:#153773;}
		position:relative;
		overflow:hidden;
		height:325px;
		@include span-columns(12);
		@include textAligns(center);
		color:#fff;
        .alt-perfil{
            @extend .hide;
        }
        .alt-data{@extend .hide;}
        .mask-imguser{
			width: em(127);
	    	height: em(126);
	    	margin: 20px auto 0;
			display:block;
			position: relative;
			z-index: 2;
			@include filter(drop-shadow(3px 3px 3px black));
		}
		h2{
			font:{size:em(15);weight:bold;}
			position: relative;
			z-index: 2;
		}
		input{
			position: relative;
			z-index: 2;
		}
		div{
			position: relative;
			z-index: 2;
			&.geo{
				font:{size:em(14);weight:normal;}
			}
		}
		p{
			position: relative;
			z-index: 2;
			&.bio{
				font:{size:em(13);weight:bold;}
				max-width:350px;
				margin:{left:auto;right:auto;}
			}
		}
		.nav-ipe2{
			position: relative;
			z-index: 2;
			@include span-columns(8);
			@include shift(2);
			@include borderRadius(5px);
			border:1px solid #fff;
			background:{color: transparent;}
			ul{
				@include span-columns(12);
				@include fill-parent();
				li{
					@include span-columns(6.13);
					@include row();
					@include omega();
					border:none;
					text:{transform:capitalize;}
					&.active{
						background:{color: #fff;}
						color:$color_font2;
						a{
							color:$color_font2;
						}
					}
				}
			}
			@include media($notebookTodesktop){
				display: none;
			}
		}
		&:after {
		    content: '';
			background-image:linear-gradient(transparent 10%, rgba(21, 55, 115, 0.75) 75%);
			position: absolute;
	    	left: 0;
	    	right: 0;
	    	bottom: 0;
			top:0;
			z-index:1;
	  	}
	  	@include media($notebookTodesktop){
            margin:{bottom:em(10);}
			.mask-imguser{
		      @include span-columns(1.5);
		      @include shift(.5);
                margin:{top:160px}
			}
            .alt-perfil{
                @include span-columns(5);
                @include textAligns(left);
                @include pad(40px 0 0);
                margin:{top:140px;}
                @include omega();
                h2{
                    display:block;
                    font:{size:em(22)}
                    margin:{bottom:0;}
                }
                .geo{
                    font:{size:em(14)}
                    display:block;
                }
                .perfil{
                    font:{size:em(14)}
                    text:{transform:capitalize;}
                }
            }
            .alt-data{
                @include span-columns(4.7);
                margin:{top:110px;}
                padding:{right:20px;}
                border: {right:1px solid rgba(255,255,255,.3)}
                p{
                    @include span-columns(12);
                    margin:0;
                    @include textAligns(right);
                    &.total-numbers{
                        font:{size:em(68)}
                        span{
                            font:{size:22px;weight:normal}
                            text:{transform:uppercase;}
                        }
                    }
                    &.bio{
                        @include direction-context(right-to-left){
                            @include span-columns(10);
                            display: block;
                            max-width:inherit;
                        }
                    }
                }
            }
			h2{
              display:none;
			}
			div{
				&.geo{
                  display:none;
				}
			}
			p{
				&.bio{
					display: none;
				}
			}
	  	}
        @include media(min-width 1820px){
            @include pad(0 17%);
        }
	}
	@include media($notebookTodesktop){
		#tab-examp{
			@include pad(em(10));
		}
	}
}
