.dashboard-agencia{
	background: {color:#fff;image:none;}
}
#creadas{
	@include fill-parent();
	@include row();
	.recientes{
		@include span-columns(12);
		@include row();
		@include pad(0);
		.cont-campana{
			@include span-columns(12 of 12);
			display: table;
			float: none;
			position: relative;
			overflow: hidden;
			min-height: 182px;
			background:{position: center;size: cover;}
			@include boxShadow(inset, 0, -100px, 90px, -21px, rgba(0,0,0,0.7));
			@include pad(0 5px);
			h3{
				margin:0;
				@include pad(0);
				@include span-columns(5 of 12);
				float: none;
				color:#fff;
				font:{size:16px;}
				display: table-cell;
				vertical:{align: bottom;}
			}
			.redes-inline{
				@include pad(0);
				@include span-columns(5 of 12);
				float: none;
				display: table-cell;
				list:{style: none;}
				vertical:{align: bottom;}
				li{
					display: inline-block;
				}
			}
			.ver-mas{
				@include pad(0);
				@include span-columns(2 of 12);
				float: none;
				display: table-cell;
				vertical:{align: bottom;}
			}
			h4{
				@extend h3;
				@include span-columns(5);
				@include omega();
				float: none;
				display: table-cell;
				font:{size:11px;weight:normal;style:italic;}
				bottom:10px;
			}
			p{
				margin:0;
				@include pad(0);
			}
		}
	}
}
.no-campana{
	a{
		@include span-columns(10);
		@include shift(1);
		@include pad(40px 20px 0);
		i{
			@include borderRadius(100%);
		    width: 150px;
		    height: 150px;
		    background:{color: $color_font2;}
		    @include pad(39px);
		    font:{size: 75px;}
		    color: #fff;
		}
		h2{
			font:{size:14px;}
			color:$color_font2;
			text:{transform:uppercase;}
		}
		p{
			font:{size:14px;weight:normal;}
			color:$color_grey;
		}
		.btn_crearcamp{
			@extend .btns;
			@include shift(1);
			background: {color:$color_font2;}
			//MediaQueries
			@include media($tablet){
				@include span-columns(4);
				@include shift(4);
			}
			@include media($tabletLand){
				@include span-columns(3);
				@include shift(4.5);
			}
			@include media($notebook){
				@include span-columns(3);
				@include shift(4.5);
			}
		}
	}
}