.dashboard-agencia{
	background: {color:#fff;image:none;}
}
#creadas{
	@include fill-parent();
	@include row();
	#recientes{

	}
}
.no-campana{
	a{
		@include span-columns(10);
		@include shift(1);
		@include pad(40px 20px 0);
		i{
			@include borderRadius(100%);
		    width: 150px;
		    height: 150px;
		    background:{color: $color_font2;}
		    @include pad(39px);
		    font:{size: 75px;}
		    color: #fff;
		}
		h2{
			font:{size:14px;}
			color:$color_font2;
			text:{transform:uppercase;}
		}
		p{
			font:{size:14px;weight:normal;}
			color:$color_grey;
		}
		.btn_crearcamp{
			@extend .btns;
			@include shift(1);
			background: {color:$color_font2;}
			//MediaQueries
			@include media($tablet){
				@include span-columns(4);
				@include shift(4);
			}
			@include media($tabletLand){
				@include span-columns(3);
				@include shift(4.5);
			}
			@include media($notebook){
				@include span-columns(3);
				@include shift(4.5);
			}
		}
	}
}