main{
	@include textAligns($text-center);
	@include row();
	&.ingreso_eleccion{
		margin:{top:48px;}
		#tipo{
			.btns_accesos{
				@extend .btns;
			}
		}
	}
	&.form_agencias{
		@extend .hide;
		margin:{top:48px;}
		#inicio{
			.btns_accesos{
				@extend .btns;
			}
			#registrar{
				background: {color:#fff;}
				color:$color_font;
			}
		}
		#antiguo{
			@extend .hide;
			@extend .center-div;
			@include borderRadius(3px);
			background: {color:#fff;}
			position:absolute;
			top:16%;
			@extend .center-absolute;
			width:0;
			height:0;
			opacity:0;
			h2{
				@extend .hide;
				color:$color_font2;
				font:{size:16px;}
				text:{transform:uppercase;}
				@include pad(15px 0);
			}
			a{
				@include pad(10px 0 5px);
				@include row();
				@include span-columns(12);
				font:{size:10px;}
				color:$color_font;
				@extend .hide;
			}
			.form_ingreso{
				@extend .hide;
				p{
					@include row();
					@include span-columns(12);
					color:$color_font2;
					font:{size:11px;}
					margin:5px 0 15px;
					text:{transform:uppercase;}
				}
				input{
					@extend .inputs;
				}
				#ingresar{
					@extend .btns;
					margin:{top:10px}
					background: {color:$color_font2;}
				}
				.fb_btn{
					@extend .btns;
					background: {color:#313786;}
					font:{size:11px;}
					margin:{bottom:5px}
					i{
						font:{size:16px;}
						margin:{right:10px;}
					}
				}
				.lk_btn{
					@extend .btns;
					background: {color:#0077b5;}
					font:{size:11px;}
					margin:{bottom:0}
					i{
						font:{size:16px;}
						margin:{right:10px;}
					}
				}
			}
		}	
		#nuevo{
			@extend #antiguo;
			top:5%;
			h2{
				margin:0;
			}
			.registerForm{
				@extend .form_ingreso;
				@include fill-parent();
				.telefonos{
					@include span-columns(4.5);
					@include row();
					@include omega();
				}
				#registrarse{
					@extend .btns;
					margin:{top:10px}
					background: {color:$color_font2;}
					font:{family:$fontAll}
					&[disabled="disabled"]{
						background:{color:rgba(2, 147, 119, 0.34);}
					}
				}
				#selectImage{
					#searchImg{
						@include span-columns(10);
						@include shift(1);
						background:{color:$color_blue;}
						padding: 10px 0;
    					margin:{bottom: 2px;}
					}
					input[type="file"]{
						@extend .hide;
					}
				}
				.registrationFormAlert{
					position: absolute;
					@extend .center-absolute;
					@extend .center-div;
					top: 7%;
					font:{size: 12px;}
					color: red;
				}
			}
		}
	}
}