//FONTS
//$fontAll:'Roboto Condensed', sans-serif;
$fontAll:'Open Sans', sans-serif;
$color_font:#107977;//GreenDark
$color_font2:#18bb9b;//GreenLight

//COLORS
$color_grey:#c7c7c7;//GreyLight
$color_grey2:#656b79;//GreyDark
$color_blue:#2c327c;//Blue from gradient
$blk-alfa:rgba(0,0,0,0.8);

//TEXT ALIGN
$text-center:center;
$text-left:left;
$text-right:right;
$text-justify:justify;

@mixin textAligns($aligns){
	text-align:$aligns;
}

@mixin borderRadius($roundness){
	@include border-top-radius($roundness);
	@include border-left-radius($roundness);
	@include border-right-radius($roundness);
	@include border-bottom-radius($roundness);
}

@mixin boxShadow($top, $left, $blur, $spread, $color, $inset: false) {
  @if $inset {
    @include prefixer(box-shadow, $top $left $blur $spread $color, webkit moz spec);
  } @else {
    @include prefixer(box-shadow, $top $left $blur $spread $color, webkit moz spec);
  }
}
//RESPONSIVE WIDTH
$mobile:(max-width 320px);
$mobileLand:(min-width 480px max-width 690px);
$tablet:(min-width 768px max-width 1023px);
$tabletLand:(min-width 1024px max-width 1279px);
$notebook:(min-width 1280px);
$notebookLand:(min-width 1281px max-width 1439px);
$desktop:(min-width 1440px);

$mobileTomobileLand: (min-width 320px max-width 640px);
$mobileLandTotablet: (min-width 480px max-width 1024px);
$tabletLandTonotebook: (min-width 1024px max-width 1440px); 
$notebookTodesktop: (min-width 1280px min-width 1440px); 

